/*.bigCol {
    white-space:nowrap !important;
    overflow-x: auto !important;
}*/

.word{
    display: inline;
}
#syllableCount {
    text-align: right;
    color: blue;
}

.poemIdentifiers{
/*    text-align: center;*/
    font-size: 16pt;
}

.left{
    /*margin-top: 80px;*/
    margin-top: 30px;
    padding-top: 0px !important;
    padding-left:0px;
}

.lineCount{
    color:blue;
    font-weight:bold;
    display:inline-block;
    float:right;
}

.rhymeCheck{
    margin-right:10px;
}

/*.poemLine span{
    margin-left:0.5px;
}*/

td{
    text-align:center;
}

.stressStyle{
    vertical-align: super;
}

.colorSquare{
    width:18px;
    height:18px;
    margin:3px 3px 0px 3px;
    display:inline-block;
}

.selectedColorSquare{
    border: solid black 2px;
}

.highlightColors, .boldColors{
    display:inline-block;
}

.eraseHighlight, .eraseBold{
    background-color:white;
}

#layers{
    /*margin-top:80px;*/
    opacity: 1.0;
}

.toolbar{
    background-color:LightGray;
    padding: none;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index:10;
}

.visibilitySpan{
    position:absolute;
    top:10px;
    right:10px;
    color:gray;
    font-style:italic;
}

.btn{
    border: 1px solid gray;
    margin:5px;
}

.dropdown-toggle{
    color: black;
    border: 1px solid black;
}

 .syllableMarker {
    margin: 0px;
}
.layerName{
    font-size:12pt;
    font-weight:bold;
}

.addColor{
    height:20px;
    width:20px;
    padding:0px;
}

.lineCount{
    text-align: right;
    height: 100%;
}

/*Tryna do an overlay derp*/
.overlay{
    position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 0;
	background: rgba(200,200,200,0.9);
}

/* Overlay closing cross */
/*.overlay .overlay-close {*/
#overlay-closed{
	/*width: 80px;*/
	/*height: 80px;*/
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	/*background: url(cross.png) no-repeat center center;*/
	/*text-indent: 200%;*/
	/*color: transparent;*/
	outline: none;
	z-index: 100;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc.close {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s, visibility 0.5s;
}

.editPoem{
    top:20px;
    min-width: 80%;
    min-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.left{
    padding-top: 80px;
    padding-left:0px;
}


.rhymeCheck{
    margin-right:10px;
}


td{
    text-align:center;
}

.highlightColors, .boldColors{
    display:inline-block;
}

.layer{
    border-width:1px;
    border-style:solid;
    padding:10px;
    margin:10px 0px;
    background-color:#dddddd;
    opacity: 1.0;
    position:relative;
}

.eraseHighlight, .eraseBold{
    background-color:white;
}

#layers{
    /*margin-top:80px;*/
    margin-top:30px;
    
}

.toolbar{
    background-color:LightGray;
    padding: none;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index:10;
}

.visibilitySpan{
    position:absolute;
    top:10px;
    right:10px;
    color:gray;
    font-style:italic;
}

.unnaturalLine{
    color: black;
    background: rgb(255, 255, 255) !important;
    font-weight: normal;
}
    
.btn{
    border: 1px solid gray;
    margin:5px;
}

.dropdown-toggle{
    color: black;
    border: 1px solid black;
}

 .syllableMarker {
    margin: 0px;
}
.layerName{
    font-size:12pt;
    font-weight:bold;
}

.addColor{
    height:20px;
    width:20px;
    padding:0px;
}

.lineCount{
    text-align: right;
    height: 100%;
}

.line{
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: #ddd;
    padding-left:0px;
    padding-right:0px;
    margin-left:0.5px;
}





/*Tryna do an overlay derp*/
.overlay{
    position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 0;
	background: rgba(200,200,200,0.9);
}

/* Overlay closing cross */
/*.overlay .overlay-close {*/
#overlay-closed{
	/*width: 80px;*/
	/*height: 80px;*/
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	/*background: url(cross.png) no-repeat center center;*/
	/*text-indent: 200%;*/
	/*color: transparent;*/
	outline: none;
	z-index: 100;
}

/*Effects */
/*.overlay-hugeinc {*/
/*	opacity: 0;*/
/*	visibility: hidden;*/
/*	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;*/
/*	transition: opacity 0.5s, visibility 0s 0.5s;*/
/*}*/

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc.close {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s, visibility 0.5s;
}

.editPoem{
    top:20px;
    min-width: 80%;
    min-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.colorf99 {
    background-color: #f99;
}
.colorf9f {
    background-color: #f9f;
}
.colorF9F {
    background-color: #F9F;
}
.colorD9F {
    background-color: #D9F;
}
.colorA9F {
    background-color: #A9F;
}
.color9CF {
    background-color: #9CF;
}
.color9FF {
    background-color: #9FF;
}
.color9FA {
    background-color: #9FA;
}
.colorCF9 {
    background-color: #CF9;
}
.colorFF9 {
    background-color: #FF9;
}
.colorFC9 {
    background-color: #fc9;
}

.left, .right{
    overflow:auto;
    height: 95vh;
}

.boldtrue{
    font-weight: bold;
}


.bold000{
   color: #000;
}
.bold063{
    color: #063;
}
.bold009{
    color: #009;
}
.bold506{
   color: #506;
}
.bold602{
    color: #602;
}

.extraHyphen{
    color:red;
    font-weight:bold;
}

.layerName:hover{
  font-size:12pt;
  font-weight:bold;
  border: dotted 1px;
}


.colorName{
    border-style:dotted;
    border-width:1px;
    border-color:gray;
}


/*scroll bar*/
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); 
}


