#createDiv{
    background-color:aliceBlue;
    text-align:center;
    padding:80px 0px;
    height:110%;
}

html,body, .container, .row{
    height:100%;
}

#createPoem{
    width:60%;
    height:300px;
    margin:20px;
}

#submitPoem{
    margin:20px;
}
