

.poem{
    padding-left: 20px;
    padding-top: 80px;
}

.rhymeCheck{
    margin-right:10px;
}

.poemLine span{
    margin-left:0.5px;
}
.poemLine{
    border-style:solid;
    border-width:0px;
    border-bottom-width:1px;
    border-bottom-color: #ddd;
}

.colorSquare{
    width:20px;
    height:20px;
    margin:5px 5px 0px 5px;
    border-style:solid;
    border-width:0px;
    display:inline-block;
}

.highlightColors{
    display:inline-block;
}

.layer{
    border-width:1px;
    border-style:solid;
    padding:10px;
    margin:10px;
    background-color:#dddddd;
    opacity:0.5;
}

.eraseHighlight{
    background-color:white;
}

#layers{
    margin-top:80px;
    
}

.toolbar{
    background-color:LightGray;
    padding: none;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index:10;
}

.btn{
    border: 1px solid gray;
    margin:5px;
}

 .syllableMarker {
    margin: 0px;
}
.layerName{
    font-size:12pt;
    font-weight:bold;
}

.addColor{
    height:20px;
    width:20px;
    padding:0px;
}

.lineCount{
    text-align: right;
}
